.logo {
    text-align: center;
    font-size: 70px;
    color: blue;
    font-weight: bold;
    padding: 50px;
}

.logo > div {
    font-size:24px;
}

body, input, button {
    font-size: 14px;
    font-family: roboto, arial;
    margin: 5px
}

.tabs {
    float: right;
    display: flex;
    margin: 10px;
}


.bar {
    width: 50vh;
    height: 50px;
    border-radius:30px;
    margin: 30px;
}

.advbar {
    width: 50vh;
}

.mainthing {
    padding: 50px;
    margin:auto;
    text-align: center;
}

.advsearch {
    padding: 50px;
}

.row {
    display: flex;
}

.left {
    width: 20%;
}

.row {
    padding-bottom: 20px;
}